  button{
    background-color: greenyellow;
    border-color: green;
    color: greenyellow;
    
    }
    .left, .right {
      float: left;
      width: 20%; /* The width is 20%, by default */
    }
    
    .main {
      float: left;
      width: 60%; /* The width is 60%, by default */
    }
    
    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {
      .left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      }
    }
    
    
    #particles-js{
    
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    
    left:0;
    width:100%;
    height: 200%;
    
    
    }
    #centerObject{
    
    margin-inline: 20%;
    background-position: center;
    
    }
    
    
    hr{
    
    color: red;
    
    
    }
    .img:hover {
      
    -webkit-transform: rotateY(s180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    
    }
    footer{
    
    background-color: black;
    
    }
    .footpage{
    
    margin-inline: 10%;
    
    
    }
    
.imgLogo{

  padding-inline: 10px;

}
